*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}   

body{
    width: 100%;
    height: 100%;
}
body img{
    filter: blur(7px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
}
.banner{
    text-align: center;
    justify-content: center;
    margin: 20px;
    color: azure;
    font-family:monospace;
    font-size: 2rem;
}
hr{
    height: 3px;
    background-color: azure;
}
.wrapper {
    justify-content: center; 
    /* height: 100%; */
    /* min-height: 100vh */
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.registration{
    border: 5px; 
    border-radius: 15px;
    width: 400px;
    padding: 20px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.664);
}
.title {
    color: white;
    background: rgb(1, 9, 20);
    letter-spacing: 2.5px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
}
.form-wrap{
    margin-top: 20px;
}
.form-wrap input{
    width: 100%;
    padding: 5px;
    border: 1.2px solid rgba(90, 90, 90, 0);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
.form-wrap input:focus{
    border-color: red;
}
#gender{
    padding: 5px;
    cursor: pointer;
}
.submit{
    justify-content: center;
}
.form-wrap .submit{
    font-size: 17px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  width: 80%;
  background: #010811;
  padding: 10px;
  border: 1px;
  border-style: outset;
  color: rgba(101, 156, 12, 0.945);
  margin-left: 35px
}
.form-wrap .submit:hover{
    background: rgba(255, 255, 255, 0.26);
}
.submit a{
    color:rgba(101, 156, 12, 0.945);
}
.success-page{
    border: 5px; 
    border-radius: 15px;
    width: 20%;;
    padding: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.664);   
    text-align: center;
}
.footnote{
    /* border: 1px; */
    position: absolute;
    bottom: 0;
    right: 0;
   /* top: 100px;
    left: 1px; */
    background-color: rgba(62, 95, 10, 0.315);
    text-align: bottom;
    color: azure;
    letter-spacing: 2px;
}
p{
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}
a{
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    border: 1px;
    border-radius: 4px;
    background-color: #010811
}
a:hover{
    background: rgba(255, 255, 255, 0.26);
}
label{
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}
